
/* Background image */
body{background-image:url("Arran2.jpg"); background-size:100% 100%; padding:0px; margin:0px;  background-attachment: fixed;overflow-x:hidden;}

/* Language selection */
#language{ position:absolute; top:5px; right:10px;font-size:15px;}
.flag{height:17px; border: solid 1px #000;}
.languagelink {color:#fff;font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }


#languageul {
  list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color:rgba(157, 140, 92, 0.5); }

.languageli {float:left;display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}

.languageli:hover {background-color:rgba(117, 104, 68, 0.5);}

a {
  color:#777;
  font-weight:bold;
}

#title-text a::after {
    content: "Amber Lennox's Webpage";
}

h1{padding:5px;background-color:#CDC9BC; font-family: Arial, Helvetica, sans-serif; color:#8D7144 ;}
h2{padding:5px; font-family: Arial, Helvetica, sans-serif; color:#8D7144 ;}

/* The navigation bar (iframe) */
#header{width: 100%; height:140px; overflow: hidden;}

/* The footer (iframe) */
#footer{ height:250px; overflow: hidden;}

/* Thie footerdiv */
#footerdiv{background-color:rgba(239, 219, 165, 0.5); width:100%;}


.wrapper{width: 100%;background-color:rgba(255, 255, 255, 0.8);}


.album{	
	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important; height:140px;border:solid 1px #999;margin:3px;}

/* The main div */
.main{width:80%;font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:15px;text-align:justify; overflow-x: hidden;padding:30px;background-color:rgba(255, 255, 255, 0.7); width:100%;color:#443201;}

/* Subdiv within the main div */
.mytext{width:80%;padding-right:100px;text-align:justify;}


/* The Links on the photo page */
.photolinks{ font-family: Arial, Helvetica, sans-serif; font-size:20px;color:#443201; font-variant: small-caps;}


.monthul{list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(157, 140, 92, 0.5);}

.monthlinks a{float:left;#}

.monthlinks a{display: block;
  color: white;
  text-align: center;
  padding: 10px 36px;
  text-decoration: none;	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;}

.monthlinks a:hover{background-color:rgba(255, 255, 255, 0.7);color:#443201; 	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;}
.monthlinks a:focus{background-color:rgba(0, 0, 0, 0.7);color:#fff; -webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;}


.myphotos{

}

.myphotos:hover {
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}